<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Windwos Remote Application</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style>

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {

    background-color: rgba(213, 217, 241, 0.47);
}

</style>
</head>
<body>
<div class="container-fluid">
    <div class="row text-center">
    <h1> Windows Remote Application</h1>

        <hr>
<nav class="navbar navbar-default" style="background-color: #337ab7 !important">
   <div class="container-fluid">

       <ul class="nav navbar-nav">
      <li> <a style="color:white" href="/winremote/">Home</a></li>
        <li><a style="color:white" href="/winremote/remotecmd">Remote Command</a></li>
       <li><a style="color:white" href="/winremote/history">Command History</a></li>
        <li><a style="color:white" href="/winremote/tool">Remote Tool</a></li>
         <li><a style="color:white" href="/winremote/startapp/">Start / Stop Service</a></li>

       </ul>
         <ul class="nav navbar-nav navbar-right">

        <li align="right"><a style="color:white" href="/winremote/login/">Logout</a></li>

        </ul>
  </div>
</nav>
</div>
    <b>Target Ip: </b> {{ip}} <br><br>
    <b>Command: </b> {{cmd}} <br><br>

    <b>Status Code: </b>  {{statuscode}} <br><br>
    <b>Output: </b>  {{output}}

<hr>


</div>
    </div>
</body>
</html>