<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Windwos Remote Application</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style>

    .progress{
    display:none;
    }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {

    background-color: rgba(213, 217, 241, 0.47);
}

</style>

</head>
<body>
<div class="container-fluid">
    <div class="row text-center">
    <h1> Windows Remote Application</h1>
<br>

<nav class="navbar navbar-default" style="background-color: #337ab7 !important">
   <div class="container-fluid">

       <ul class="nav navbar-nav">
      <li> <a style="color:white" href="/winremote/">Home</a></li>
        <li><a style="color:white" href="/winremote/remotecmd">Remote Command</a></li>
       <li><a style="color:white" href="/winremote/history">Command History</a></li>
        <li  class="active"><a style="color:white" href="/winremote/tool">Remote Tool</a></li>
         <li><a style="color:white" href="/winremote/startapp/">Start / Stop Service</a></li>

       </ul>
         <ul class="nav navbar-nav navbar-right">

        <li align="right"><a style="color:white" href="/winremote/login/">Logout</a></li>

        </ul>

  </div>
</nav>
</div>
<br>
<div class="col-md-6 col-md-offset-3 text-center">
<form action="/winremote/tools/" method="post" onsubmit="return validate()">{% csrf_token %}
    <input type="text" class="form-control" value="10.136.60.90" name="ip" id="ip" placeholder=">>> Remote System IP">

    <br>
    <input type="text" class="form-control"  value="administrator" name="user" id="user" placeholder=">>> Remote System User">
    <br>
    <input type="password" class="form-control" value="$@NKET9822" name="pass" id="pass" placeholder=">>> Remote System Password">
    <br>
   <div class="form-group">
  <label >Select list:</label>
  <select class="form-control" name="input" id="input">
    <option value="Get-PSDrive C | Select-Object Used,Free">Disk Space</option>
    <option value="gwmi -class Win32_Processor">Cpu Configuration</option>
    <option value="Get-NetIPConfiguration">Network Details</option>
      <option value="Get-Service">All Services</option>
    <option value="Get-WmiObject -Class Win32_Product -ComputerName . | Format-Wide -Column 1">Installed Applications</option>
  </select>
</div>
    <br>
    <input type="submit" class="btn btn-primary" name="submit">
</form>

</div>

</div>
    </div>

<hr>
     <div class="progress hiddenx" id="bar">
  <div class="progress-bar progress-bar-striped active" role="progressbar"
  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%">
  </div>
  </div>
</body>



{% load staticfiles %}
 <script src="{% static 'validations.js' %}"></script>

</html>